input[type='search']::placeholder {
    font-family: system-ui, FontAwesome, sans-serif;
}

.mxHeight{
    max-height: 60px;
}

.bgSearch{
    background-color: #b3b3b3;
}

.minHeight{
    min-height: 170px;
}

aside{
    width: 150px;
    background-image: url('../img/sidebar-bg.png');
    background-color: #091e34;
}

th img{
    width: 20px;
}