.heightNav{
    height: 80px;
}

.yellowHover:hover{
    cursor: pointer;
    color: rgb(161, 77, 8);
}

.sideHover:hover{
    border-radius: 20px;
    background-color: grey;
    cursor: pointer;
}

input[type='search']::placeholder {
    font-family: system-ui, FontAwesome, sans-serif;
}

.mxHeight{
    max-height: 60px;
}

.bgSearch{
    background-color: #b3b3b3;
}

.minHeight{
    min-height: 170px;
}

aside{
    width: 50px;
    background-image: url('../img/sidebar-bg.png');
    transition: 1s;
    background-color: #091e34;
}

@media screen and (min-width: 992px){
    aside{
        width: 150px;
    }
}

th img{
    width: 20px;
}

.marginTop{
    margin-top: 80px;
}

.widthOffCanvas{
    width: 600px!important;
}